<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ps.mapper.PSMapper">

<!-- myBatis가 이용하는 query문장이 들어 있는 파일
java Mapper에 의해 이용됨.
java Mapper - xml Mapper - myBatis   
java Mapper안에 있는 메소드 이름과 xml Mapper 안의 query id가 일치해야 함.
-->

<!-- select 한 후의 결과 처리를 위한 부분 -->
<resultMap type="PS" id="PSResult">
	
	
	<id property="id" column="id"/>
	<result property="pass" column="pass"/>
	<result property="name" column="name"/>
	<result property="tel" column="tel"/>
	<result property="email" column="email"/>
	<result property="adress" column="adress"/>
</resultMap>

<select id="all" resultMap="PSResult">
	select * from memberinfo
</select>

<insert id="insert" parameterType="PS">
	insert into board values(bnum.nextval,#{pass}, #{name}, sysdate,
	 #{title},#{content}, 0)
</insert>

<select id="findByNum" parameterType="String" resultMap="PSResult">
	select * from board where num = #{num}
</select>


<select id="findByName" parameterType="String" resultMap="PSResult">
	select * from board where name = #{name}
</select>
<select id="findByTitle" parameterType="String" resultMap="PSResult">
	select * from board where title like #{title}
</select>

<update id="update" parameterType="PS">
	update board set title = #{title}, content = #{content}
	where num = #{num}
</update>

<!-- 
<select id="all" resultMap="CustomerResult">
	select * from customer order by num
</select>

<select id="findByNum" parameterType="String" resultMap="CustomerResult">
	select * from customer where num = #{num}
</select>  

<select id="findByAddress" parameterType="String" resultMap="CustomerResult">
	select * from customer where address = #{address}
</select>

<select id="findByName" parameterType="String" resultMap="CustomerResult">
	select * from customer where name = #{name}
</select>

<insert id="insert" parameterType="Customer">
	insert into customer values(#{num}, #{name}, #{address})
</insert>
 -->
</mapper>

